@media (max-width: 1024px) {
    body .container .main-container .img-section .default-info h2{
        font-size: 2rem;
    }

    body .container .main-container .img-section .default-info img{
        width: 80%;
    }

    body .container .main-container .img-section .default-info .weather-temp{
        font-size: 3rem;
    }

    body .container .main-container .img-section{
        width: 20rem;
    }
}

@media (max-width: 800px) {
    body .container .main-container .img-section .default-info h2{
        font-size: 2rem;
    }

    body .container .main-container .img-section .default-info img{
        width: 50%;
    }

    body .container .main-container .img-section .default-info .weather-temp{
        font-size: 3rem;
    }

    body .container .main-container .img-section{
        width: 19rem;
    }
}

@media (max-width: 760px) {
    body .container .main-container .content-section{
        display: none;
    }

    body .container{
        width: min-content;
    }

    body .container .main-container .img-section .default-info h2{
        font-size: 3rem;
    }

    body .container .main-container .img-section .default-info img{
        width: 80%;
    }

    body .container .main-container .img-section .default-info .weather-temp{
        font-size: 4rem;
    }

    body .container .main-container .img-section{
        width: 30rem;
    }

    body .container .main-container .img-section .default-info .country{
        display: block;
    }

    .mobile-search{
        display: block;
    }
}
